{% extends "base.html" %} {% block title %}Login{% endblock %} {% block titleView %}Bienvenido{% endblock %} {% load widget_tweaks %} {% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card" style="width: 100%; background: #cbd5db;">
            <div class="card-header">
                <h3 class="card-title">Cambio de Contraseña Hecho</h3>
            </div>
            <div class="card-body">
                <p>Se realizó el cambio de contraseña correctamente</p>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}