{% extends "base.html" %} {% block title %}Login{% endblock %} {% block titleView %}Bienvenido{% endblock %} {% load widget_tweaks %} {% block content %}
<div class="row">
    <div class="col-2"></div>
    <div class="col-8">
        <div class="card" style="width: 100%; background: #cbd5db;">
            <div class="card-header">
                <h3 class="card-title">Cambiar Contraseña</h3>
            </div>
            <div class="card-body">
                <form method="POST" class="post-form">
                    {% csrf_token %} {% for field in form %}
                    <div class="mb-3">
                        <label for="{{ field.name }}" class="form-label">{{ field.label }}</label> {% render_field field class="form-control" %}
                    </div>
                    {% if field.errors %}
                    <ul>
                      {% for error in field.errors %}
                          <li style="color: #ff0000">{{ error }}</li>
                      {% endfor %}
                    </ul>
                    {% endif %}
                    {% endfor %}
                    {% if form.errors %}
                    <ul>
                        {% for error in  form.non_field_errors %}
                            <li style="color: #ff0000">{{ error }}</li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <button type="submit" class="btn btn-primary">Cambiar Contraseña</button>
                </form>
            </div>
        </div>
    </div>
    <div class="col-2"></div>
</div>
{% endblock %}